table,
th,
tr,
td {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
}

body {
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

table {
    grid-row: 5/6;
    grid-column: 4/7;
    height: 50%;
    width: 100%;
}

input[type="button"] {
    min-height: 50%;
    justify-self: center;
    align-self: center;
    grid-row: 6/7;
    grid-column: 5/6;
}

.input {
    grid-row: 4/5;
    grid-column: 4/7;
}

.input:nth-child(1) {
    justify-self: left;
    align-self: center;
}

.input:nth-child(2) {
    justify-self: center;
    align-self: center;
}

.input:nth-child(3) {
    justify-self: right;
    align-self: center;
}
